<h1>Tasty Burgers</h1>

<div class="container">
  <div class="section">
    <div id="app" class="row columns is-multiline">
      <div v-for="card in cardData" key="card.id" class="column is-6">
        <div class="card">
          <div class="card-content" style="background-color:rgb(247, 146, 146)">
            <h2>Burgers devoured!</h2>
            <ul>
              {{#each burgers}}
              {{#unless devoured}}
              {{> burgers/burger-block devour=true}}
              {{/unless}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

      <div v-for="card in cardData" key="card.id" class="column is-6">
        <div class="card">
          <div class="card-content" style="background-color:rgb(149, 247, 146)">
            <h2>Burgers not eaten!</h2>
            <ul>
              {{#each burgers}}
              {{#if devoured}}
              {{> burgers/burger-block devour=false}}
              {{/if}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

        <div v-for="card in cardData" key="card.id" class="column is-12">
        <div class="card">
          <div class="card-content" style="background-color:rgb(252, 160, 252)">
             <h2>Add a burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burger_name">
      </div>

      <div class="form-group">
        <label for="devoured">Have you eaten this?</label><br>
        <input type="radio" name="devoured" value="0" checked> Devoured!<br>
        <input type="radio" name="devoured" value="1"> Not Eaten
      </div>

      <button class="button is-danger" type="submit">Add Burger</button>
    </form>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container" style="margin-left: 5px;">
   
  </div>