li {
  padding: 5px;
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(140, 146, 236);
  width: 100vw;
  height: 100vh;
}

h1 {
  margin-left: 45%;
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
