<li>
	{{burger_name}}

	<button class="changeEaten" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devoured}}DEVOUR!{{/if}}
	</button>

	<button class="deleteBurger" data-id="{{this.id}}">DELETE!</button>
</li>
